@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --cor-dom: green;
    --cor-james-luiz: black;
    --cor-regis: pink;
    --cor-renan: greenyellow;
    --cor-ricardo: gray;
    --cor-caseiro: red;
    --cor-detinha: orangered;
    --cor-miguel: violet;

}

body {
    width: 100%;
    min-height: 100vh;

    background: lightgray url("../images/background2.jpg") no-repeat top right/cover;

}

main {
    width: 100%;

}

section#inmic {
    width: 90%;
    max-width: 1700px;
    margin: auto;

}

section#inmic #sobre {
    width: 70%;
    padding: 20px;
    margin: 10px 0px;

}

section#inmic .funcionarios {
    width: 100%;

    margin: 20px 0px;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

section#inmic .funcionarios .pessoas {
    width: 280px;
    min-height: 250px;
    
    margin: 30px;

    font-weight: bold;

    background-color: white;
    border: 2px solid black;
    
    border-radius: 20px;

    box-shadow: 0px 12px 0px black;


}

section#inmic .funcionarios #caseiro {
    border: 2px solid var(--cor-caseiro);
    box-shadow: 0px 12px 0px var(--cor-caseiro); 

}

div.funcionarios #caseiro .img-perfil .imagem {
    outline: 2px solid var(--cor-caseiro);

}

section#inmic .funcionarios #dom {
    border: 2px solid var(--cor-dom);
    box-shadow: 0px 12px 0px var(--cor-dom); 

}

div.funcionarios #dom .img-perfil .imagem {
    outline: 2px solid var(--cor-dom);

}

div.funcionarios .pessoas .img-perfil {
    position: relative;
    width: 100%;
    height: 62.5px;

    border-radius: 20px 20px 0px 0px;

    display: flex;
    justify-content: center;

}

div.funcionarios .pessoas .img-perfil .imagem {
    position: absolute;
    width: 40%;
    height: 100px;

    outline: 2px solid black;
    border: 2px solid transparent;
    border-radius: 50%;

    top: -35px;

}

div.funcionarios .pessoas .img-perfil .imagem img {
    width: 100%;
    height: 100%;

    display: block;
    border-radius: 50%;

}

div.funcionarios .pessoas .nomes, .pronomes {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;

}

div.funcionarios .pessoas .descricoes {
    width: 100%;
    padding: 10px;
    
    text-align: center;

    border-radius: 0px 0px 20px 20px;

    overflow: hidden;

}

div.funcionarios .pessoas .descricoes #txt {
    width: 99%;

    display: flex;
    justify-content: center;
    align-items: center;

}