@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: "LamboType";
    src: url("../Fonts/Lambo-Medium.otf")format("opentype");
    font-weight: normal;
    font-style: normal;

}

:root {
    --cor-principal: #E39c03;
    --cor-segundaria: #000;

    --font-lambo: "Lambotype", "Arial", "Sans-serif";

}

body {
    width: 100vw;
    height: 100vh;

    background: black url("../images/Lamborghini/Background-image3.jpg") no-repeat center center/cover;

}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

}

section.vagas {
    max-width: 490px;
    width: 98%;
    /*height: 550px;*/
    height: 63%;

    margin-top: 70px;

    overflow-x: scroll;

    display: flex;
    flex-flow: column wrap;

}

/* Configuração da barra de rolagem */

section.vagas::-webkit-scrollbar {
    height: 8px;

}

section.vagas::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}

section.vagas::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;

}

section.vagas::-webkit-scrollbar-thumb:active {
    background-color: #E39c03;

}

/* Fim da Configuração da barra de rolagem */

/* Modelos */
section.vagas .modelos {
    width: 100%;
    height: 97%;

    flex-shrink: 0;
    border: 1px solid greenyellow;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

}

section.vagas .modelos .titulos {
    width: 70%;
    /*height: 150px;*/
    height: 30%;
    padding: 25px;

    border: 2px solid orangered;
    border-radius: 20px;

    color: whitesmoke;
    text-align: center;

    text-shadow: 0px 2px 10px yellow;

    font-family: "LamboType";

}

section.vagas .modelos .fotos {
    width: 100%;
    /*height: 400px;*/
    height: 60%;

    border: 1px solid greenyellow;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;

}

section.vagas .modelos .fotos > .imagens {
    width: 80%;
    height: 80%;
    margin: 0px auto;

}

section.vagas .modelos .fotos > .imagens img {
    width: 100%;
    height: 100%;

}

section.vagas .modelos .fotos > .imagens-menores {
    width: 78%;
    height: 60%;

}

section.vagas .modelos .fotos > #huracan {
    width: 70%;
    height: 80%;

}