* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;

    background: black url(../images/fundo-madeira.jpg) center center no-repeat;
    background-size: cover;

}

main {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

/* Inicio Botões */

section#conteiner-botoes {
    
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    

    position: absolute;
    top: 50%;
    left: 90%;

    transform: translate(-50%, -50%);
    transition: border 0.8s ease;

    display: flex;
    flex-flow: column nowrap;

    z-index: 2;

}

section#conteiner-botoes:hover {
    border-left: 3px solid aqua;
    border-right: 3px solid aqua;

}

a.botao {
    width: 60px;
    height: 60px;
    border-radius: 15px;

    margin: 10px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;

}

a.botao img {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

a.botao:hover {
    border: 1px solid aqua;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

    transform: translate(-2.5px, -5px);
    
}

a.botao:active {
    border: 1px solid transparent;
    outline: 2px solid white;

}

/* Configuração da barra de rolagem */

section#conteiner-botoes::-webkit-scrollbar {
    height: 6px; 
    
}

section#conteiner-botoes::-webkit-scrollbar-track {
        background-color: transparent;

}

section#conteiner-botoes::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); 
    border-radius: 10px;

}

section#conteiner-botoes::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); 
    
}

section#conteiner-botoes::-webkit-scrollbar-thumb:active {
    background: rgba(173, 173, 173, 0.7);
    
}


/*
  Fim Botões

  Inicio Celular 
*/


#celular {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

section#moldura {
    position: relative;

    width: 100%;
    height: 100%;

    background: url(../images/frame-iphone.png) no-repeat center center;

}

section#moldura #frame {
    position: absolute;
    width: 268px;
    height: 472px;
    
    top: 50.3%;
    left: 50.1%;

    transform: translate(-50%, -50%);

}

#frame iframe {
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 505px) {
    section#conteiner-botoes {
        width: 75%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-left: none;
        border-right: none;

        top: 10%;
        left: 50%;

        transform: translate(-50%, -70%);
        overflow-x: auto;

        flex-flow: row nowrap;

    }

    section#conteiner-botoes:hover {
        border-top: 3px solid aqua;
        border-bottom: 3px solid aqua;
        border-left: none;
        border-right: none;

    }

    .botao {
        flex-shrink: 0;

    }

}