* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;

}

main {
    width: 100%;
    height: 100%;
    background: black url(../images/fundo-madeira.jpg) center center no-repeat;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

section#phone {
    width: 311px;
    height: 600px;
    background: url(../images/frame-iphone.png) center center no-repeat;
    background-size: contain;
    border: 2px solid red;

    display: flex;

}

section#phone div#conteudo-phone {
    width: 256px;
    height: 453px;
    border: 2px solid yellow;
    margin: auto;

}