@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: "LamboType";
    src: url("../Fonts/Lambo-Medium.otf")format("opentype");
    font-weight: normal;
    font-style: normal;

}

:root {
    --cor-principal: #E39c03;
    --cor-segundaria: #000;

    --font-lambo: "Lambotype", "Arial", "Sans-serif";

}

body {
    width: 100vw;
    height: 100vh;

    background: black url("../images/Lamborghini/Background-image1.jpg") no-repeat center center/cover;

}

/* Inicio Main */

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

section#historia {
    width: 95%;
    height: 465px;

    padding: 10px 0px;

    border: 4px solid rgba(255, 255, 255, 0.4);
    border-radius: 40px;

    overflow-x: scroll;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}

section#historia .pictures, section#historia .textos {
    height: 80%;
    margin: 0px 10px;
    border-radius: 40px;

    flex-shrink: 0;
    overflow: hidden;

}

section#historia .pictures {
    width: 98%;
    height: 65%;
    
    outline: 2px solid greenyellow;
    border: 2px solid transparent;

}

section#historia .pictures .imagens {
    width: 100%;
    height: 100%;

}

section#historia .pictures .imagens img {
    width: 100%;
    height: 100%;

    display: block;

}

section#historia .textos {
    width: 95%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.329);
    outline: 2px solid red;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

section#historia .textos > .txt {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 40px;

    text-align: start;
    color: whitesmoke;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;

}

section#historia .textos > .txt h1 {
    text-align: center;
    font-family: "LamboType";
    margin: 5px 0px;

}

/* Configuração da barra de rolagem */

section#historia::-webkit-scrollbar {
    height: 5px;

}

section#historia::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px 28px;
    border-radius: 20px;

}

section#historia::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;

}

section#historia::-webkit-scrollbar-thumb:active {
    background-color: #E39c03;

}

/* Fim da Configuração da barra de rolagem */