@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;

}

::-webkit-scrollbar {
    display: none;

}

/* Ínicio Header */

header {
    width: 100%;
    height: auto;
    
    background-color: gray;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

header #logo {
    width: 250px;

}

header #logo img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;

}

nav {
    display: block;

}

i#botao-menu {
    width: 100%;
    background-color: rgb(95, 95, 95);
    padding: 5px;
    color: white;
    text-align: center;
    border: 2px solid black;

}

#menu.menu-aberto {
    display: block;

}

nav ul {
    list-style-type: none;
    display: none;

}

nav > ul > li > a {
    display: block;
    padding: 10px;

    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(95, 95, 95);

    border-bottom: 2px solid black;

}

nav > ul > li > a:hover, i#botao-menu:hover {
    background-color: rgb(170, 170, 170);
    color: black;
    cursor: pointer;

}

/* Fim Header */

/* Inicio Main */

main {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

article#conteiner {
    /*width: 500px;*/
    width: 97.5%;

}

/* Modelo dos albuns */

section.modelos {
    width: 100%;
    height: auto;
    margin-top: 20px;
    
    outline: 2px solid black;

    border-radius: 5px;

    overflow: hidden;

}

section.modelos .titulos {
    height: 10%;
    outline: 2px solid red;
    text-align: center;
    line-height: 50px;

}

section.modelos .album {
    display: flex;
    flex-flow: column wrap;

}

section.modelos .album .imagens {
    width: 100%;
    margin: 10px 0px;

    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: center;

}

section.modelos .album .imgs1 {
    /*width: 400px;*/
    width: 80%;
    height: 100%;

}

section.modelos .album .imgs2 {
    /*width: 430px;*/
    width: 86%;
    height: 100%;

}

section.modelos .album .imgs3 {
    /*width: 470px;*/
    width: 94%;
    height: 100%;

}

section.modelos .album img {
    width: 100%;
    height: 100%;

    display: block;

}

section.modelos .album .albuns {
    border: 2px solid black;
    border-radius: 10px;

    overflow: hidden;

}

section.modelos .imagens:has(.albuns:hover) {
    justify-content: center;

}

section.modelos .album .albuns:hover {
    transform: scale(1.031);
    cursor: none;

}

/* ínicio Modelo 1 */

section#modelo1 .album .albuns {
    border: 2px solid burlywood;

}

section#modelo1 .album .albuns:hover {
    outline: 2px solid brown;
    border: 2px solid white;

    transition: transform 1s, border 0.8s, outline 0.9s;

}

/* Fim Modelo 1 */

/* ínicio Modelo 2 */

section#modelo2 .album #img1, section#modelo2 .album #img3 {
    justify-content: left;

}

section#modelo2 .album #img1:has(.albuns:hover), section#modelo2 .album #img3:has(.albuns:hover) {
        justify-content: center;

}

section#modelo2 .album .albuns:hover {
    outline: 2px solid black;
    border: 2px solid white;

    transition: transform 1s, border 0.8s, outline 0.9s;

}

/* Fim Modelo 2 */

/* ínicio Modelo 3 */

section#modelo3 .album #img1 {
    justify-content: right

}

section#modelo3 .album #img1:has(.albuns:hover), #modelo3 .album #img3:has(.albuns:hover) {
    justify-content: center;

}

#modelo3 .album .albuns:hover {
    border: 2px solid white;
    outline: 2px solid gray;

    transition: transform 1s, border 0.8s, outline 0.9s;

}

#modelo3 .album #album-img2:hover {
    outline: 2px solid orangered;

}

section#modelo3 .album #img2 {
    justify-content: center;

}

section#modelo3 .album #img3 {
    justify-content: left;

}

/* Fim Modelo 3 */

/* Fim Main */

/* Inicio Footer */

footer {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: black;
    background-color: gray;
    text-align: center;

}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: yellow;
    font-weight: bold;

    transition: color 0.9s, font-weight 0.9s, text-decoration 0.9s;

}

/* Fim Footer */

@media screen and (min-width: 1024px) {
    article#conteiner {
        max-width: 950px;

    }
}