* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: 'PlayfairDisplaySC';
    src: url('../Fonts/PlayfairDisplaySC-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

body {
    width: 100%;
    height: 100vh;
    background-color: white;

}

::-webkit-scrollbar {
    display: none;

}

/* Ínicio Header */

header {
    width: 100%;
    height: auto;
    
    background-color: gray;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

header #logo {
    width: 250px;

}

header #logo img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;

}

nav {
    display: block;

}

i#botao-menu {
    width: 100%;
    background-color: rgb(95, 95, 95);
    padding: 5px;
    color: white;
    text-align: center;
    border: 2px solid black;

}

#menu.menu-aberto {
    display: block;

}

nav ul {
    list-style-type: none;
    display: none;

}

nav > ul > li > a {
    display: block;
    padding: 10px;

    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(95, 95, 95);

    border-bottom: 2px solid black;

}

nav > ul > li > a:hover, i#botao-menu:hover {
    background-color: rgb(170, 170, 170);
    color: black;
    cursor: pointer;

}

/* Fim Header */

/* Inicio Main */

main {
    width: 100%;
    margin: 10px 0px 10px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

article#mercedes {
    width: 100%;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;

}

article#mercedes h1, p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;

}

article#mercedes h1, h2 {
    font-family: PlayfairDisplaySC, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: 1px;

}

article#mercedes p {
    line-height: 1.5;

}

article#mercedes .figuras {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

article#mercedes .imagens, .figuras .descricao {
    width: 61.5%;
    height: 70%;

    

}

article#mercedes .figuras .descricao {
    border: 2px solid black;
    border-top: none;

}

/* Imagem Gottlieb */
article#mercedes .figuras > .gottlieb {
    width: 70%;
    max-width: 165px;

}

/* Imagem Maybach */
article#mercedes .figuras > .maybach, article#mercedes .figuras > .des-maybach {
    width: 70%;
    max-width: 165px;

}

/* Imagem Angemeldet 1909 */
article#mercedes #img-fusao, article#mercedes #des-fusao {
    width: 60%;

}

/* Imagem Angemeldet 1909 */
article#mercedes #angemeldet {   
    width: 80%;
    height: 53%;

}

article#mercedes #angemeldet img {   
    border: 2px solid goldenrod;

}

article#mercedes #des-angemeldet {
    border: 2px solid goldenrod;
    border-top: none;

}

/* Imagem mercedes 1933 */
article#mercedes .figuras #meca-1993 {
    width: 80%;

}

/* Imagem mercedes */
article#mercedes .figuras #meca-atual {
    width: 85%;

}

article#mercedes .figuras #des-meca-atual {
    width: 85%;

}

article#mercedes .imagens img {
    width: 100%;
    height: 100%;

    border: 2px solid black;

}

.figuras .descricao {
    width: 80%;
    height: auto;

}

/* Fim Main */

/* Inicio Footer */

footer {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;

}

footer a {
    text-decoration: none;
    color: white;

}

footer a:hover {
    text-decoration: underline;
    color: red;

}

/* Fim Footer */

/* Inicio Media Queries */

@media screen and (min-width: 500px) and (max-width: 768px) {
    article#mercedes {
        min-width: 55%;
        max-width: 650px;

        border: 2px solid black;

    }

    article#mercedes .figuras > .descricao {
        width: 40%;
        border: 2px solid black;
        border-top: none;

    }

    article#mercedes div#dupla > .figuras {
        width: 40%;

    }

    article#mercedes div#dupla {
        display: flex;
        justify-content: space-around;

    }

    /* Imagem Gottlieb */
    article#mercedes .figuras > .gottlieb {
        width: 70%;
        max-width: 165px;

    }

    /* Imagem Maybach */
    article#mercedes .figuras > .maybach, article#mercedes .figuras > .des-maybach {
        width: 70%;
        max-width: 165px;

    }

    /* Imagem Angemeldet 1909 */
    article#mercedes #img-fusao, article#mercedes #des-fusao {
        width: 35%;

    }

    /* Imagem Angemeldet 1909 */
    article#mercedes #angemeldet {   
        width: 40%;
        height: 60%;

    }

    article#mercedes #angemeldet img {   
        border: 2px solid goldenrod;

    }

    article#mercedes #des-angemeldet {
        border: 2px solid goldenrod;
        border-top: none;

    }

    /* Imagem mercedes 1933 */
    article#mercedes .figuras #meca-1993 {
        width: 40%;

    }

    /* Imagem mercedes */
    article#mercedes .figuras #meca-atual {
        width: 35%;
        

    }

    article#mercedes .figuras #des-meca-atual {
        width: 35%;

    }

}

@media screen and (min-width:768px) and (max-width: 1024px) {
    article#mercedes {
        width: 70%;

        border: 2px solid black;
        border-radius: 10px;

    }

    article#mercedes #dupla {
        display: flex;

    }

    article#mercedes .figuras > .descricao {
        width: 60%;
        border: 2px solid black;
        border-top: none;

    }

    /* Imagem Gottlieb */
    article#mercedes .figuras > .gottlieb {
        width: 70%;
        max-width: 165px;

    }

    /* Imagem Maybach */
    /* Imagem Maybach */
    article#mercedes .figuras > .maybach, article#mercedes .figuras > .des-maybach {
        width: 70%;
        max-width: 165px;

    }

    /* Imagem Angemeldet 1909 */
    article#mercedes #img-fusao, article#mercedes #des-fusao {
        width: 35%;

    }

    /* Imagem Angemeldet 1909 */
    article#mercedes #angemeldet {   
        width: 40%;
        height: 60%;

    }

    article#mercedes #angemeldet img {   
        border: 2px solid goldenrod;

    }

    article#mercedes #des-angemeldet {
        width: 40%;
        border: 2px solid goldenrod;
        border-top: none;

    }

    /* Imagem mercedes 1933 */
    article#mercedes .figuras #meca-1993 {
        width: 40%;

    }

    article#mercedes .figuras #des-meca-1993 {
        width: 40%;

    }

    /* Imagem mercedes */
    article#mercedes .figuras #meca-atual {
        width: 35%;
    
    }

    article#mercedes .figuras #des-meca-atual {
        width: 35%;

    }
}

@media screen and (min-width: 1024px) {
    article#mercedes {
        width: 75%;
        max-width: 800px;

        border: 2px solid black;
        border-radius: 10px;

    }

    article#mercedes #dupla {
        display: flex;

    }

    article#mercedes .figuras > .descricao {
        width: 60%;
        border: 2px solid black;
        border-top: none;

    }

    /* Imagem Gottlieb */
    article#mercedes .figuras > .gottlieb {
        width: 70%;
        max-width: 165px;

    }

    /* Imagem Maybach */
    /* Imagem Maybach */
    article#mercedes .figuras > .maybach, article#mercedes .figuras > .des-maybach {
        width: 70%;
        max-width: 165px;

    }

    /* Imagem Angemeldet 1909 */
    article#mercedes #img-fusao, article#mercedes #des-fusao {
        width: 35%;

    }

    /* Imagem Angemeldet 1909 */
    article#mercedes #angemeldet {   
        width: 40%;
        height: 60%;

    }

    article#mercedes #angemeldet img {   
        border: 2px solid goldenrod;

    }

    article#mercedes #des-angemeldet {
        width: 40%;
        border: 2px solid goldenrod;
        border-top: none;

    }

    /* Imagem mercedes 1933 */
    article#mercedes .figuras #meca-1993 {
        width: 40%;

    }

    article#mercedes .figuras #des-meca-1993 {
        width: 40%;

    }

    /* Imagem mercedes */
    article#mercedes .figuras #meca-atual {
        width: 35%;
    
    }

    article#mercedes .figuras #des-meca-atual {
        width: 35%;

    }
}