@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    width: 100%;
    height: 100vh;
    background-color: white;

}

::-webkit-scrollbar {
    display: none;

}

/* Ínicio Header */

header {
    width: 100%;
    height: auto;
    
    background-color: gray;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

header #logo {
    width: 250px;

}

header #logo img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;

}

nav {
    display: block;

}

i#botao-menu {
    width: 100%;
    background-color: rgb(95, 95, 95);
    padding: 5px;
    color: white;
    text-align: center;
    border: 2px solid black;

}

#menu.menu-aberto {
    display: block;

}

nav ul {
    list-style-type: none;
    display: none;

}

nav > ul > li > a {
    display: block;
    padding: 10px;

    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(95, 95, 95);

    border-bottom: 2px solid black;

}

nav > ul > li > a:hover, i#botao-menu:hover {
    background-color: rgb(170, 170, 170);
    color: black;
    cursor: pointer;

}

/* Fim Header */

/* Inicio Main */

main {
    width: 100%;
    padding: 10px;

}

article#conteiner {
    width: 500px;


    border: 2px solid black;

}

section#primeiro-carro {
    width: 100%;
    height: 500px;

    border: 2px solid rgb(0, 255, 0);

}

section#primeiro-carro .titulos {
    height: 50px;
    outline: 2px solid blueviolet;
    margin: 10px;

}

.fotos {
    display: flex;
    flex-flow: column wrap;

}

.fotos .imagens {
    width: 100px;
    height: 100px;
    outline: 2px solid red;
    margin: 10px;

}

/* Fim Main */

/* Inicio Footer */

footer {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: black;
    background-color: gray;
    text-align: center;

}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: yellow;
    font-weight: bold;

    transition: color 0.9s, font-weight 0.9s, text-decoration 0.9s;

}

/* Fim Footer */