@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;

}

::-webkit-scrollbar {
    display: none;

}

/* Ínicio Header */

header {
    width: 100%;
    height: auto;
    
    background-color: gray;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

header #logo {
    width: 250px;

}

header #logo img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;

}

nav {
    display: block;

}

i#botao-menu {
    width: 100%;
    background-color: rgb(95, 95, 95);
    padding: 5px;
    color: white;
    text-align: center;
    border: 2px solid black;

}

#menu.menu-aberto {
    display: block;

}

nav ul {
    list-style-type: none;
    display: none;

}

nav > ul > li > a {
    display: block;
    padding: 10px;

    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(95, 95, 95);

    border-bottom: 2px solid black;

}

nav > ul > li > a:hover, i#botao-menu:hover {
    background-color: rgb(170, 170, 170);
    color: black;
    cursor: pointer;

}

/* Fim Header */

/* Inicio Main */

main {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    background-color: rgb(223, 223, 223);

}

article#conteiner {
    /*width: 500px;*/
    width: 97.5%;

}

/* Modelo dos albuns */

section.modelos {
    width: 100%;
    height: auto;
    margin-top: 20px;
    
    outline: 2px solid black;

    border-radius: 5px;

    overflow: hidden;

}

section.modelos .titulos {
    height: 10%;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;

}

section.modelos .album {
    display: flex;
    flex-flow: column wrap;

    padding: 1px;

}

section.modelos .album .imagens {
    width: 100%;
    margin: 20px 0px;

    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: center;

}

section.modelos .album .imgs1 {
    /*width: 400px;*/
    width: 80%;
    height: 100%;

}

section.modelos .album .imgs2 {
    /*width: 430px;*/
    width: 86%;
    height: 100%;

}

section.modelos .album .imgs3 {
    /*width: 470px;*/
    width: 94%;
    height: 100%;

}

section.modelos .album img {
    width: 100%;
    height: 100%;

    display: block;

}

section.modelos .album .albuns {
    border: 2px solid black;
    border-radius: 10px;

    overflow: hidden;

}

section.modelos .imagens:has(.albuns:hover) {
    justify-content: center;

}

section.modelos .album .albuns:hover {
    transform: scale(1.031);
    cursor: none;

}

/* 

    Fim Modelos do Albuns

    ínicio Modelo 1 

*/

section#modelo1 {
    background-color: beige;
    outline: 2px solid #4b1414;
    border: 2px solid transparent;

}

section#modelo1 .titulos {
    background-color: #4b1414;
    color: beige;
    outline: 2px solid #4b1414;
    border: 2px solid beige;

    transition: border 1s, outline 1.5s, color 1s, background-color 1s;

}

section#modelo1 .titulos:hover {
    background-color: beige;
    color: #4b1414;
    border: 2px solid #4b1414;
    outline: none;
    border-radius: 5px;

}

section#modelo1 .album .albuns {
    border: 2px solid burlywood;

}

section#modelo1 .album .albuns:hover {
    outline: 2px solid brown;
    border: 2px solid transparent;

    transition: transform 1s, border 0.8s, outline 0.9s;

}

/* 

    Fim Modelo 1 

    ínicio Modelo 2 
 
 */

section#modelo2 {
    background-color: gray;

}

section#modelo2 .titulos {
    border: 2px solid black;
    text-shadow: 1px 1px 10px lightgray;

}

section#modelo2 .titulos:hover {
    background-color: black;
    color: gray;
    border: 2px solid red;
    text-shadow: 1px 1px 8px red;

    transition: border 1.5s, outline 1.5s, color 1s, background-color 1s, text-shadow 2s;

}

section#modelo2 .album #img1, section#modelo2 .album #img3 {
    justify-content: left;

}

section#modelo2 .album #img1:has(.albuns:hover), section#modelo2 .album #img3:has(.albuns:hover) {
    justify-content: center;

}

section#modelo2 .album #img4 {
    justify-content: center;

}

section#modelo2 .album #album-img4 {
    width: 85%;

}

section#modelo2 .album #album-img4:hover {
    outline: 2px solid white;

}

section#modelo2 .album .albuns:hover {
    outline: 2px solid red;
    border: 2px solid transparent;

    transition: transform 1s, border 0.8s, outline 0.9s;

}

/* 

    Fim Modelo 2

    ínicio Modelo 3 
    
*/

section#modelo3 {
    background-color: gray;
    outline: 3px solid orangered;

}

section#modelo3 .titulos {
    background-color: #838d99;
    border: 2px solid black;
    color: white;

    transition: border 0.8s, background-color 1s, color 1s;

}

section#modelo3 .titulos:hover {
    border: 2px solid orangered;
    background-color: #bfc8d1;
    color: black;

    transition: border 0.8s, background-color 1s, color 0.8s, outline 1s;

}

section#modelo3:has(.titulos:hover) {
    outline: 3px solid black;

}

section#modelo3 .album #img1 {
    justify-content: right

}

section#modelo3 .album #img1:has(.albuns:hover), #modelo3 .album #img3:has(.albuns:hover) {
    justify-content: center;

}

#modelo3 .album .albuns:hover {
    border: 2px solid transparent;
    outline: 2px solid orangered;

    transition: transform 1s, border 0.8s, outline 0.9s;

}

#modelo3 .album #album-img2:hover {
    outline: 2px solid orangered;

}

section#modelo3 .album #img2 {
    justify-content: center;

}

section#modelo3 .album #img3 {
    justify-content: left;

}

/* 

    Fim Modelo 3

    ínicio Modelo 4
  
*/

section#modelo4 {
    background-color: rgb(29, 29, 29);
    outline: 2px solid yellow;

}

section#modelo4 .titulos {
    border: 2px solid rgb(247, 247, 88);
    color: white;

}

section#modelo4 .titulos:hover {
    border: 2px solid goldenrod;
    text-shadow: 2px 2px 6px whitesmoke;
    transition: text-shadow 1.2s, border 1.2s;

}

section#modelo4:has(.titulos:hover) {
    outline: 2px solid goldenrod;
    transition: outline 1.2s;

}

section#modelo4 .album .albuns {
    border: 2px solid white;

}

section#modelo4 .album .albuns:hover {
    border: 2px solid transparent;
    outline: 2px solid yellow;

    transition: border 1.2s, outline 1.2s;

}

section#modelo4 .album #img1, section#modelo4 .album #img4 {
    justify-content: center;

}

section#modelo4 .album #album-img4 {
    width: 90%;

}

section#modelo4 .album #img3, section#modelo4 .album #img5 {
    justify-content: left;

}

section#modelo4 .album #img3:has(.albuns:hover), section#modelo4 .album #img5:has(.albuns:hover) {
    justify-content: center;

}

section#modelo4 .album #album-img5 {
    width: 90%;

}

/* 

    Fim Modelo 4 

    Fim Main

    Inicio Footer

*/

footer {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: black;
    background-color: gray;
    text-align: center;

}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: yellow;
    font-weight: bold;

    transition: color 0.9s, font-weight 0.9s, text-decoration 0.9s;

}

/* Fim Footer */

@media screen and (min-width: 1024px) {
    article#conteiner {
        max-width: 950px;

    }
}