* {
    padding: 0;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;

}

header {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

}

#cabecalho {
    height: 80px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px;

    border: 2px solid yellow;

}

#cabecalho #logo {
    width: 350px;
    
}

#cabecalho #menu {
    width: 400px;
    height: 40px;
    outline: 2px solid red;

}

#cabecalho #menu a {
    border: 2px solid red;
    margin: 10px;

}