* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: "porsche";
    src: url("../Fonts/911porscha/911porschav3.ttf")format("opentype");
    font-weight: normal;
    font-size: normal;

}

body {
    width: 100%;
    height: 100vh;
    background-color: #ebebeb;

}

.historia #historia, .modelos #modelos {
    border-bottom: 2px solid #aa0000;

}

/* Inicio Header */

header {
    max-width: 1200px;
    height: 80px;
    margin: auto;
    padding: 0px 40px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

#logo {
    font-family: "porsche";
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;

}

#menu-hamburguer, #mobile {
    display: none;

}

#menu-principal {
    display: flex;
    align-items: center;

    gap: 20px;

}

header #menu-principal a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

/* 
    Fim Header 

    Inicio Main

*/

main {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;

}

section#banner {
    width: 100%;
    grid-column: 1 / -1;

    box-shadow: 2px 0px 4px black;

}

section#banner img {
    width: 100%;
    height: 100%;
    max-height: 672px;

    display: block;

}

section#conteudo {
    padding: 10px 0px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;

}

#historia-marca, #linha-do-tempo {
    width: 100%;
    margin: 10px auto;

    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: row nowrap;


}

#historia-marca #texto {
    width: 98%;
    padding: 2%;
    text-align: start;

}

#historia-marca #texto h1, h2, p {
    margin-top: 20px;

}

#historia-marca #texto p:hover {
    cursor: none;
    background-color: rgba(255, 255, 0, 0.445);

}

#historia-marca .imagens {
    width: 80%;
    max-width: 400px;

    height: 200px;
    margin: 25px auto;

}

#historia-marca #retrato {
    width: 50%;
    max-width: 200px;
    height: 300px;

    border-radius: 10px;

}

#historia-marca #retrato img {
    outline: 2px solid gray;
    border: 2px solid transparent;

}

#historia-marca .imagens img {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    display: block;

}

#conteudo .especial {
    font-family: "porsche";

}

#linha-do-tempo ul {
    margin: auto;
    list-style-position: inside;

}

/* 
    Fim Main 

    Inicio Footer

*/

/* Inicio Media Queries */
@media screen and (max-width: 600px) {
    #menu-principal, #menu-principal .desktop {
        display: none;

    }

    #menu-hamburguer, #mobile {
        display: block;

    }

    #mobile {
        display: block !important;
        color: #888888 !important;
        margin-top: 20px;

    }

    #menu-hamburguer {
        padding: 4px 8px;

        background-color: transparent;
        color: #000000;
        font-size: 24px;
        border: 2px solid #aa0000;
        border-radius: 4px;
        cursor: pointer;

    }

    #menu-principal {
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);

        display: none;

        flex-direction: column;
        align-items: flex-end;
        
        top: 80px;
        right: 0;
        
        background-color: #1a1a1a;
        padding: 40px;
        gap: 20px;

    }

    /* Configuração do menu hamburguer aberto */
    .menu-aberto #menu-principal a {
        color: #ffffff;
        font-size: 18px;

    }
    
    #menu-principal.ativo {
        display: flex;

    }

    header.menu-aberto {
        background-color: #1a1a1a;
        border-bottom: none;

    }

    header.menu-aberto #logo {
        color: #444444;

    }

    header.menu-aberto #menu-hamburguer {
        color: #ffffff;

    }

}

@media screen and (min-width: 1024px) {
    #conteudo {
        grid-column: 1 / -1;

    }
}

@media screen and (min-width: 1200px) {
    #banner, #banner img {
        border-radius: 0px 0px 10px 10px;

    }

    #conteudo {
        max-width: 1200px;

    }

    #historia-marca, #linha-do-tempo {
        
        margin: auto;

    }

}